---
import Card from "../Card.astro";
const EXP = [
  {
    title: "Desarrollador Full-stack",
    body: "Desarrollo de interfaces de usuario con tecnologías modernas como React, Vue, Svelte y Angular.",
    href: "https://ghost.st/",
    imgSrc: "/images/ghost.png",
    iconSrc: "/images/logo-ghost.svg",
    company: "Ghost Street Interactive Studio",
    dates: ["Sept 2023", "Feb 2024"],
    stack: ["HTML", "CSS3", "JS", "Svelte", "SvelteKit", "Typescript", "CraftCMS", "Shopify", "PHP", "Supabase", "MySQL", "Tailwind", "GitLab CI/CD", "Bitbucke Pipelines", "AWS"]
  },
  {
    title: "Desarrollador Full-stack",
    body: "Desarrollo de APIs y servicios web con tecnologías como Node.js, Express, Django y Flask.",
    href: "https://digital.practia.global/",
    imgSrc: "/images/practia.png",
    iconSrc: "/images/logo-practia.png",
    company: "Practia Global",
    dates: ["Mar 2020", "Abr 2023"],
  },
  {
    title: "Desarrollador Full-stack",
    body: "Automatización de procesos de desarrollo, pruebas y despliegue con herramientas como Docker, Kubernetes y GitHub Actions.",
    href: "https://www.bancoripley.cl/",
    imgSrc: "/images/ripley.png",
    iconSrc: "/images/logo-banco-ripley.svg",
    company: "Banco Ripley",
    dates: ["Feb 2019", "Mar 2020"],
  },
  {
    title: "Desarrollador Front-end",
    body: "Automatización de procesos de desarrollo, pruebas y despliegue con herramientas como Docker, Kubernetes y GitHub Actions.",
    href: "https://grm.cl/",
    imgSrc: "/images/grm.png",
    iconSrc: "/images/logo-grm.png",
    company: "Gestión Regional de Medios",
    dates: ["Ene 2017", "Feb 2019"],
  },
];
---
<section class="mb-24 sm:mb-24 md:mb-48">
  <h2 class="text-4xl text-amber-400 font-extrabold mb-8">Experiencia</h2>
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {EXP.map((exp) => (
      <Card {...exp} />
    ))}
  </div>
</section>
