---
import { proyectsData }	from "../../data/proyects.js";
import ProyectCard from "../ProyectCard.astro";

interface Props {
	lang: string
}

const { lang } = Astro.props
---

<section class=" mb-24 sm:mb-24 md:mb-48" id="projects">
	<h2 class="text-4xl text-amber-400 font-extrabold mb-8">Portfolio</h2>
	<h3 class="text-3xl text-amber-50">Im currently working on this, Sorry 😋</h3>
	<div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
		{proyectsData.map((proyect) => (
			<ProyectCard {...proyect} />
		))}
	</div>
</section>