---
import { navData } from "../data/ui"
import Logo from "./Logo.astro"
import DarkModeSwitch from "./ui/DarkModeSwitch.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const { home, exp, projects, contact } = navData[lang]
---
<header class="backdrop-blur-sm sticky top-0 z-10">
	<div class="flex justify-between items-center max-w-[1024px] mx-auto py-3 px-3">
		<div class="logo w-48">
			<Logo/>
		</div>
		<nav class="hidden flex-row md:flex gap-x-6 opacity-90">
			<a href="#intro">{home}</a>
			<a href="#jobs">{exp}</a>
			<a href="#projects">{projects}</a>
			<a href="#contact">{contact}</a>
			<DarkModeSwitch/>
			<slot name="lang-switch">
		</nav>
	</div>
</header>
<style lang="scss">
	.toggle-btn {
	
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}
	}
</style>