<span class="badge bg-gradient-to-tr from-red-950 to-red-800 text-xs border rounded border-amber-400/70 text-amber-100  mr-2">
  <slot />
</span>
<style>
	.badge {
		padding: 1px 6px;
		font-size: 10px;
	}	
</style>