---

const lang: 'es' | 'en' = 'es'
---

<select
  class="lang-switch">
  <option value="es" selected={lang === 'es'}>ES</option>
  <option value="en" selected={lang === 'en'}>EN</option>
</select>
<script>

</script>
