---
interface Props {
	extraStyles?: string;
	href?: string;
	sendMail?: boolean;
	dataModal?: string;
}
const { extraStyles, href, dataModal } = Astro.props;
---
<a class={`cursor-pointer text-xs text-ellipsis text-nowrap rounded-full border border-crimson bg-crimson/10 mb-2 flex justify-center items-center gap-x-2 py-2 px-3 hover:scale-105 transition-all ease-in-out hover:bg-crimson/50 hover:font-medium ${extraStyles}`} href={href} data-modal={dataModal ? dataModal : ""} target="_blank">
	<slot />
</a>